# ignore 3rd party lib
node_modules

# ignore key
*.pem

# Ignore built files
build

# Environment varibles
*.env
config.json


test.js
dist/

# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
uploads/*
downloads
exports
.DS_Store

# Ingore logs
logs
*-lock.json
*.log

*.lock

# Vim swp files
*.swp
*.swo

.env

#local config
config/default.json
